@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Bizim tanımladığımız pastel arka plan rengini zorla */
        @apply bg-background-light text-text-light;
    }
}


@keyframes fade-in {
    from { opacity: 0.8; transform: scale(1.02); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes slide-up {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fade-in 0.5s ease-out forwards;
}

.animate-slide-up {
    animation: slide-up 0.4s ease-out forwards;
}